@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    margin: 0%;
    padding: 0%;
    /* FUENTE SACADA DE INTERNET DE GOOGLE FONTS */
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-header.png);
    background-size: cover;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    /* MARGEN INTERNO */
    padding-top: 40px;
    display: flex;
    align-items: center;
}

nav .logo {
    width: 30%;
    display: inline-block
}

nav ul {
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
}

nav ul li :hover {
    border-bottom: 2px solid white;
}

nav ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

#hero {
    text-align: center;
    padding-top: 120px;
}

#hero img {
    transition: .4s;
}

#hero img:hover {
    transform: scale(1.2) rotate(-360deg);
}

#hero h2 {
    font-size: 55px;
    color: #e8f00c;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#hero p {
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#hero button {
    background: #e8f00c;
    padding: 15px 40px;
    font-size: 15px;
    color: gray;
    border-radius: 10px;
    border: 0 transparent;
    margin-top: 50px;
    transition: .4s;
}

#hero button:hover {
    transform: scale(0.8);
}

#planes {
    width: 100%;
    background: #ffffff;
    padding: 60px 0;
    text-align: center;
}

#planes .container h2 {
    font-size: 40px;
}

#planes .container p {
    font-size: 18px;
}

#planes .container .row {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#planes .container .row .item-planes {
    position: relative;
}

#planes .container .row .item-planes h2 {
    color: #e8f00c;
    font-size: 25px;
    position: absolute;
    top: 87px;
    left: 0px;
    right: 0px;
}

#destinos {
    width: 100%;
    background: url(../img/bg-destinos.png);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}

#destinos .container h2 {
    font-size: 40px;
    color: #e8f00c;
}

#destinos .container .row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#destinos .container .row .item-destinos {
    font-size: 20px;
    color: #ffffff;
}

#destinos .container .row .item-destinos img {
    transition: .6s;
}

#destinos .container .row .item-destinos:hover img {
    transform: rotate(-360deg)
}

#contacto {
    background: #e8f00c;
    text-align: center;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 60px;
}

#contacto h2 {
    font-size: 40px;
}

#contacto p {
    font-size: 18px;
}

#contacto .container .row .campo-f {
    width: 300px;
    padding: 12px 14px;
    border-radius: 4px;
    margin: 10px 10px;
    font-size: 20px;
    border: 1px solid #999999;
}

#contacto .container .row select {
    /* CODIGO OBLIGATORIO !important */
    width: 332px !important;
    color: #757575;
}

#contacto .container form button {
    background: #898d0e;
    color: #ffffff;
    padding: 12px 50px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 5px;
    border: 0px;
}

footer {
    width: 100%;
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 65px 0 60px;
    font-size: 25px;
}